# Configuración de la Base de Datos (Pide las credenciales a Kilian)
DATABASE_URL="postgresql://postgres.tu_id:TU_CONTRASEÑA@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.tu_id:TU_CONTRASEÑA@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Configuración del Servidor
PORT=3000
JWT_SECRET="pon_aqui_una_clave_secreta"